        <!-- COMMENT CARD CONTENT -->
        <article class="post row z-depth-2 grey lighten-4">
            <div class="col s12">
                <p>Posted by: {{user.username}} at {{created_at}}</p>
                <div class="divider"></div>
                <p>{{comment_text}}</p>
            </div>
        </article>
        <!-- END COMMENT CARD CONTENT -->