        <section class="row">
            <div class="col s12 m6">
                <form>
                    <!-- POST TITLE AND URL -->
                    <div class="row">
                        <!-- TITLE -->
                        <div class="title_field input-field col s6">
                            <input id="title" type="text" class="validate">
                            <label for="title">TITLE: </label>
                        </div>
                        <!-- POST URL -->
                        <div class="input-field col s6">
                            <input id="post_url" type="url" class="validate">
                            <label for="post_url">URL: </label>
                        </div>
                        <!-- CAPTION -->
                        <div class="input-field col s8">
                            <input id="caption" type="text" data-length="80">
                            <label for="caption">CAPTION: </label>
                        </div>
                        <!-- CONTENT -->
                        <div class="input-field col s12">
                            <textarea id="post-content" class="materialize-textarea"></textarea>
                            <label for="post-content">Post Content</label>
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="post-form-submit btn waves-effect waves-light" type="submit">Save
                                Changes<i class="material-icons right">send</i></button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </section>