 <!-- MAIN CONTENT -->
        <section>
            <h2>You are now logged out.</h2>
            <a id="logout-button" href="/login" class="waves-effect waves-light btn">>Log In</a>
        </section>
