<section>
    <div class="row">
        <div class="col s12 m4">
            <a href="/" class="button btn-flat"><i class="material-icons left">arrow_backward</i>Back</a>
        </div>
    </div>
</section>

<!-- POST CONTENT -->

<section id="post" >
    {{> post post}}
</section>

<!-- END POST CONTENT -->

<!-- ADD COMMENT HERE -->
{{#if loggedIn}}
    <section id="post" class="row z-depth-2 grey lighten-4">
    <div class="col s12">
        <p>Comment on this post: </p>
        <div class="row">
            <form class="comment-form col s12">
                <div class="input-field col s8">
                    <textarea id="comment-content" class="materialize-textarea"></textarea>
                    <label for="post-content"></label>
                </div>
                <div class="col s12 left-align">
                    <button id="submit-comment" class=" btn  waves-effect waves-light" type="submit">Save
                        Changes<i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>
    </section>
{{else}}
    <h5>Log in to comment!</h5>
{{/if}}
<!-- END ADD COMMENT SECTION -->

<!-- Comment list -->
    <ol class="comment-list">
        {{#each post.comments as |comment|}}
            {{> comment comment}}
        {{/each}}
    </ol>

<script src="/javascript/comment.js"></script>
<!-- End Comment list -->